[Container]
ServiceName=podman_container_file_nginx
ContainerName=file-nginx
Image=localhost/file-nginx
Pod=file.pod
AutoUpdate=local
Mount=type=volume,source=file-nginx.volume,destination=/V
